.anime-list
  position: absolute
  left: 0
  bottom: 0
  right: 0
  top: 36px
  overflow-y: auto

.anime-list-footer
  text-align: center
  margin: 25px 0

  .progress-indicator
    display: inline-block
