.dropdown
  border-radius: 4px
  overflow: hidden
  display: inline-block
  height: 24px
  box-sizing: border-box
  position: relative
  border: 1px solid transparent

  &.invisible select
    opacity: 0

  select
    margin: 0
    padding: 2px 24px 2px 8px
    border-style: none
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    line-height: 18px
    background: transparent
    color: var(--text-primary)
    font-size: 12px
    max-width: 100%

    &:disabled
      opacity: 0.7

    &:focus
      outline: none !important

  .icon
    position: absolute
    right: 8px
    top: 9px
    pointer-events: none

    path
      fill: none
      stroke: var(--text-primary)
      stroke-width: 1.5

  .header-bar &
    background-color: var(--header-dropdown-background)
    border-color: var(--header-dropdown-border)

    &.focused
      border-color: var(--header-text)

    select
      color: var(--header-text)

      option
        color: var(--text-primary)
        background-color: var(--field-background)

    path
      stroke: var(--header-text)

  .content &
    border-color: var(--field-border)
    background-color: var(--field-background)
    box-shadow: var(--field-shadow)

    &.focused
      border-color: var(--field-accent)

  &.ordering-dropdown
    select
      width: 56px

    .ordering-dropdown-icon
      position: absolute
      left: 8px
      top: 4px
      width: 21px
      height: 14px
      background: purple
      pointer-events: none

    .ordering-by-name
      background: var(--icon-sort-name)

    .ordering-by-rating
      background: var(--icon-sort-rating)

    .ordering-by-start-date
      background: var(--icon-sort-start-date)

    .ordering-by-update-date
      background: var(--icon-sort-update-date)


    
