.error-modal
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: #A4A4A460
  z-index: 20
  display: flex
  align-items: center

.error-box
  margin: 0 32px
  background-color: white
  width: 100%
  padding: 20px 75px
  text-align: center
  border-radius: 4px
  border: 1px solid #797979

  .error-title
    font-size: 14px

  .error-message
    font-size: 12px
    color: #5A5A5A
    margin: 20px 0

  button
    margin: 10px 0
    line-height: 32px
    font-size: 14px
