@import "theme"

.header-bar-container
  position: absolute
  left: 0
  top: 0
  right: 0
  padding: 6px 6px 12px
  z-index: 2
  background: linear-gradient(to bottom, var(--bg-main) 42px, transparent)

.header-bar
  background-color: var(--header-background)
  padding: 4px 8px
  box-sizing: border-box
  height: 36px
  border-radius: 4px
  box-shadow: var(--header-shadow)

  .dropdown
    margin: 2px 0

.header-right
  float: right

.header-button
  width: 32px
  height: 28px
  display: inline-block
  border-radius: 4px
  background-position: center
  background-repeat: no-repeat
  vertical-align: middle

  &:not(.disabled):hover
    background-color: var(--header-button-hover)

  &.disabled
    opacity: 0.5

  .header-right &
    margin-left: 8px

  .header-right &:first-child
    margin-left: 0

.icon-user-menu
  background-image: var(--icon-menu)

.icon-refresh
  background-image: var(--icon-reload)
