@import "theme"

.header-bar
  background-color: $accent
  padding: 6px 8px

.header-button
  width: 32px
  height: 24px
  display: inline-block
  background-color: $accent-dark
  border-radius: 4px
  background-position: center
  background-repeat: no-repeat

.icon-user-menu
  background-image: url(../assets/user-menu-button.svg)

.icon-refresh
  background-image: url(../assets/refresh-button.svg)
