.login-prompt
  text-align: center
  margin: 75px 25px 50px

  .title
    font-size: 20px
    color: var(--text-primary)
    margin: 25px 0

  .subtitle
    font-size: 15px
    margin: 35px 0
    line-height: 1.5em
    color: var(--text-secondary)

  .progress
    text-align: center
    padding-top: 4px

    .progress-indicator
      display: inline-block

.error-msg
  margin-top: 40px
  color: var(--text-primary)

.error-msg-title, .error-msg-description
  margin: 10px 0

.error-msg-title
  font-weight: bold
