.card
  border-bottom: 1px solid var(--clr-separator)
  padding: 12px 8px
  height: 85px
  position: relative

  &.disabled>div
    opacity: 0.6

.series-cover
  position: absolute
  left: 8px
  top: 12px
  width: 60px
  height: 85px
  background-image: var(--no-cover-image)
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  box-shadow: 0 0 0 1px var(--thumbnail-border) inset

.card-contents
  position: absolute
  top: 12px
  left: 80px
  height: 85px
  right: 8px
  display: flex
  flex-direction: column

.series-description
  flex: 1 1

  .series-aside
    float: right
    margin-left: 12px
    margin-right: 6px
    display: flex

  .series-edit-button
    margin-right: 8px
    border-style: none
    background-color: transparent
    padding: 0
    padding: 3px 6px
    margin-top: -3px
    border-radius: 4px
    display: inline-block

    &:hover 
      background-color: var(--button-transparent-hover)

    &:active
      background-color: var(--button-transparent-pressed)

    &::after
      content: ""
      display: inline-block
      width: 14px
      height: 14px
      background: var(--icon-edit)

  .series-name
    font-size: 14px
    font-weight: 600

    a
      color: var(--text-primary)
      display: block
      text-overflow: ellipsis
      overflow-x: hidden
      white-space: nowrap
      text-decoration: none
      user-select: text
      padding-bottom: 6px

    a:hover
      color: var(--button-link-active)
      text-decoration: underline

    a:active
      color: red
      text-decoration: underline

  .series-english-name
    flex: 1 1
    font-size: 12px
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    color: var(--text-primary)
    user-select: text
    padding-bottom: 2px

.series-controls
  border-top: 1px solid var(--clr-separator-light)
  padding-top: 10px
  display: flex
  align-items: end

  &>div
    vertical-align: bottom
    margin: 0 3px

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

.series-additional-info
  flex: 1 1
  color: var(--text-secondary)

.series-score
  font-size: 12px

.series-season
  font-size: 10px
  margin-bottom: 4px

@media screen and (max-width: 450px)
  .series-controls
    position: relative
    padding-top: 22px

    .dropdown
      flex: 1 1
      margin-left: 0

  .series-additional-info
    position: absolute
    top: 3px

    div
      display: inline-block
      margin-right: 15px

.airing-badge
  display: inline-block
  margin-left: 8px
  padding: 2px 6px
  background-color: var(--badge-background)
  border-radius: 2px
  font-size: 0.8em
  color: var(--text-primary) !important

