.short-dropdown
  position: relative
  height: 16px
  width: 32px

  select
    position: absolute
    right: 0
    top: 0
    z-index: 2
    -webkit-appearance: none
    -moz-appearance: none
    height: 16px
    width: 32px
    opacity: 0

  .current-value
    line-height: 16px
    position: absolute
    left: 0
    top: 0
    font-size: 11px
    font-weight: 600
    color: var(--text-secondary)

  .icon
    position: absolute
    right: 0
    top: 6px

    path
      fill: none
      stroke: var(--text-secondary)
      stroke-width: 1.5

.short-dropdown select:focus+.current-value
  outline: 1px dotted
