#{":root"}
  --bg-main: #383838
  --clr-separator: #484848
  --clr-separator-light: #424242

  --text-primary: rgba(255, 255, 255, 0.9)
  --text-secondary: #C3C3C3

  --thumbnail-border: #{transparentize(white, 0.85)}

  --field-border: #646464
  --field-background: #515151
  --field-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
  --field-accent: #E47423

  --header-background: #C76016
  --header-shadow: 0 2px 4px rgba(0, 0, 0, 15%)
  --header-button-hover: #CF7637
  --header-dropdown-background: #C2570A
  --header-dropdown-border: #AF4E09

  --icon-reload: url(../assets/reload-icon.svg)
  --icon-menu: url(../assets/menu-icon.svg)
  --icon-error: url(../assets/error-icon.svg)
  --icon-arrow-right: url(../assets/arrow-right-icon.svg)
  --no-cover-image: url(../assets/no-cover-image.svg)
  --avatar-placeholder: url(../assets/avatar-placeholder.svg)

  --progress-indicator: #DB742A
  --modal-border: #4E4E4E

  --button: #656565
  --button-primary: #C76016
  --button-hover: #797979
  --button-primary-hover: #DE7224
  --button-pressed: #606060
  --button-primary-pressed: #BF5E17
  --button-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
  --button-link-active: #F17318

  --user-menu-row-background: #626262
  --user-menu-row-border: #6D6D6D
  --user-menu-row-background-pressed: #777777
  --user-menu-row-border-pressed: #858585
  --user-menu-shadow: 0 0 0 1000000px rgba(0, 0, 0, 0.2)
