@mixin create-brightness-theme($text-color)
  --text-primary: #{transparentize($text-color, 0.1)}
  --text-primary-opaque: #{transparentize($text-color, 0.5)}
  --text-secondary: #{transparentize($text-color, 0.3)}
  --clr-separator: #{transparentize($text-color, 0.9)}
  --clr-separator-light: #{transparentize($text-color, 0.95)}

@mixin create-button-theme($default)
  --button: #{$default}
  --button-hover: #{lighten($default, 3%)}
  --button-pressed: #{lighten($default, 7%)}

@mixin set-accent($accent)
  --header-background: #{$accent}
  --button-primary: #{$accent}
  --button-primary-hover: #{lighten($accent, 3%)}
  --button-primary-pressed: #{lighten($accent, 7%)}
  --button-link-active: #{lighten($accent, 7%)}

#{":root"}
  --accent-orange: #C76016
  --accent-green: #3f945b
  --accent-purple: #8e47a0
  --accent-red: #eb4a4a
  --accent-cyan: #26a594
  --accent-blue: #4b7dbd

  --bg-main: #383838
  --header-text: #{transparentize(white, 0.1)}

  --thumbnail-border: #{transparentize(white, 0.85)}
  --field-border: #646464
  --field-background: #515151
  --field-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)

  @include set-accent(#C76016)

  --header-shadow: 0 2px 4px rgba(0, 0, 0, 15%)
  --header-button-hover: rgba(255, 255, 255, 0.2)
  --header-dropdown-background: rgba(0, 0, 0, 0.06)
  --header-dropdown-border: rgba(0, 0, 0, 0.1)
  --modal-border: #4E4E4E
  --button-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)

  --user-menu-row-background: #626262
  --user-menu-row-border: #6D6D6D
  --user-menu-row-background-pressed: #777777
  --user-menu-row-border-pressed: #858585
  --user-menu-shadow: 0 0 0 1000000px rgba(0, 0, 0, 0.2)

  --icon-reload: url(../assets/reload-icon.svg)
  --icon-menu: url(../assets/menu-icon.svg)
  --icon-error: url(../assets/error-icon.svg)
  --icon-arrow-right: url(../assets/arrow-right-icon.svg)
  --icon-inc-disabled: url("../assets/inc-icon-disabled.svg")
  --icon-inc: url("../assets/inc-icon.svg")
  --no-cover-image: url(../assets/no-cover-image.svg)
  --avatar-placeholder: url(../assets/avatar-placeholder.svg)

  @include create-brightness-theme(white)
  @include create-button-theme(#656565)

.color-green
  @include set-accent(#3f945b)

.color-purple
  @include set-accent(#8e47a0)

.color-red
  @include set-accent(#eb4a4a)

.color-cyan
  @include set-accent(#26a594)

.color-blue
  @include set-accent(#4b7dbd)

@media screen and (prefers-color-scheme: light)
  body
    --bg-main: #EBEBEB

    --field-border: #B1B1B1
    --field-background: #F4F4F4
    --field-shadow: 0 1px 2px rgba(0, 0, 0, 0.10)

    --user-menu-row-background: #eaeaea
    --user-menu-row-border: #dbdbdb
    --user-menu-row-background-pressed: #e1e1e1
    --user-menu-row-border-pressed: #c1c1c1
    --button-shadow: none

    --icon-error: url(../assets/error-icon-light.svg)
    --icon-arrow-right: url(../assets/arrow-right-icon-light.svg)
    --icon-inc-disabled: url("../assets/inc-icon-disabled-light.svg")

    @include set-accent(#da732a)
    @include create-brightness-theme(black)
    @include create-button-theme(#cecece)
