#{":root"}
  --bg-main: #383838
  --clr-separator: #484848
  --clr-separator-light: #424242

  --text-primary: white
  --text-secondary: #C3C3C3

  --thumbnail-border: #{transparentize(white, 0.85)}

  --field-border: #646464
  --field-background: #515151
  --field-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
  --field-accent: #E47423

$accent: #F17318
$accent-dark: #E16912

$background: #F2F2F2
$card-color: #FEFEFE
$card-border-color: #E7E7E7

$input-border: #CCCCCC
