.user-menu-button
  position: relative

.user-menu
  position: absolute
  right: -5px
  top: -2px
  border-radius: 4px
  z-index: 2
  width: 175px
  background-color: var(--field-background)
  box-shadow: var(--field-shadow), var(--user-menu-shadow)
  overflow: hidden
  padding: 6px 0
  border: 1px solid var(--field-border)

.user-menu a
  display: block
  padding: 8px 12px
  text-decoration: none
  color: var(--text-primary)
  border: 1px transparent
  border-style: solid none

  &:hover
    background-color: var(--user-menu-row-background)
    border-color: var(--user-menu-row-border)

  &:active
    background-color: var(--user-menu-row-background-pressed)
    border-color: var(--user-menu-row-border-pressed)
    font-weight: 600

  &.with-avatar
    padding: 6px 12px

.avatar
  display: inline-block
  width: 24px
  height: 24px
  vertical-align: middle
  margin-right: 12px
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-image: var(--avatar-placeholder)
  box-shadow: 0 0 0 1px var(--thumbnail-border) inset
