.user-menu-button
  position: relative

.user-menu
  position: absolute
  right: -5px
  top: -2px
  border-radius: 4px
  z-index: 2
  width: 175px
  background-color: var(--field-background)
  box-shadow: var(--field-shadow), var(--user-menu-shadow)
  overflow: hidden
  padding: 6px 0
  border: 1px solid var(--field-border)

  .divider
    height: 1px
    margin: 5px 0
    background-color: var(--field-border)

@mixin user-menu-link
  border: 1px transparent

  &:hover
    background-color: var(--user-menu-row-background)
    border-color: var(--user-menu-row-border)

  &:active
    background-color: var(--user-menu-row-background-pressed)
    border-color: var(--user-menu-row-border-pressed)

.user-menu a
  display: block
  padding: 6px 12px
  text-decoration: none
  color: var(--text-primary)
  @include user-menu-link
  border-style: solid none

  &.with-avatar
    padding: 6px 12px

.avatar
  display: inline-block
  width: 24px
  height: 24px
  vertical-align: middle
  margin-right: 12px
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-image: var(--avatar-placeholder)
  box-shadow: 0 0 0 1px var(--thumbnail-border) inset

.menu-settings
  border: 1px var(--field-border)
  border-style: solid none
  margin-top: 5px
  background-color: var(--user-menu-settings)

  .settings-selector
    display: flex
    margin: 5px 5px

  .item
    flex: 1 1
    height: 20px
    @include user-menu-link
    border-style: solid
    text-align: center
    line-height: 20px
    cursor: pointer
    border-radius: 2px

    &:focus
      outline: 1px dotted var(--text-secondary)

  .text
    color: var(--text-primary-opaque)

    &.selected, &:active
      color: var(--text-primary)

  .color
    position: relative
    $size: 8px

    &::after
      content: ""
      display: inline-block
      width: $size
      height: $size
      position: absolute
      left: 50%
      top: 50%
      margin: -$size / 2
      border-radius: $size / 2

    &.selected::before
      $outer-size: $size + 6px
      content: ""
      display: inline-block
      width: $outer-size
      height: $outer-size
      position: absolute
      left: 50%
      top: 50%
      margin: -$outer-size / 2
      border-radius: $outer-size / 2
      box-sizing: border-box

    $colors: [orange, green, purple, red, cyan, blue]
    @each $color in $colors
      &.color-#{$color}
        &::after
          background-color: var(--accent-#{$color})

        &::before
          border: 1px solid var(--accent-#{$color})
